/* Variables
---------------------------------------- */
:root {
  --body-bg: #ffffff;
  --color-heading: #111111;
  --light: #F4FCFA;
  --border: #D2EFE8;
  --primary: #97C2B8;
  --secondary: #F9AB51;

  --font-text: 'Roboto', sans-serif;
  --font-heading: 'Roboto', sans-serif;


  --shadow: 0 0 10px 4px var(--border);
  --shadow2: 0 0 4px 2px var(--border);
}
/* HTML and Body
---------------------------------------- */
body {
  font-family: var(--font-text);
  font-weight: 400;
}

/* Form
---------------------------------------- */
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
  outline: 0;
  border: 0;
  box-shadow: 0 0 4px 1px var(--border);
  transition: all 0.3s linear;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
  box-shadow: 0 0 4px 1px var(--primary);
}
/* Button */
.button {
  background-color: var(--light);
  border: 2px solid var(--primary);
  border-radius: 6px;
  transition: all 0.3s ease;
}
.button:hover {
  background-color: var(--border);
  color: var(--color-heading);
}