.site-footer {
  background-color: var(--light);
  padding-top: 10rem;
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
  overflow: hidden;
}
.site-footer::before {
  position: absolute;
  content: '';
  background-color: var(--border);
  width: 100%;
  height: 100%;
  top: 2rem;
  clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
}
.footer .block-title {
  font-weight: 300;
  font-size: 1.4rem;
}
.footer-bottom-container {
  border-top: 1px solid var(--primary);
}

.footer li {
  border-bottom: 1px solid var(--light);
}
.footer a {
  color: var(--color-text);
}
.footer a:hover {
  color: var(--primary);
}