/* Submitted Details */
.node-submitted-details i {
  color: var(--primary);
}
.node-header .image-field {
  margin: 0;
}
.node-author {
  display: flex;
  align-items: center;
}
.author-picture {
  margin-right: 10px;
}
